# Ignore Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environment and package-related folders
pycash/
etc/
include/
lib/
scripts/
share/

# Poetry & virtual environment files
poetry.lock
pyvenv.cfg


# OS-specific
.DS_Store
Thumbs.db
